.navbar-brand {
  svg {
    width: auto;
  }
}

#td-cover-block-0{
  background-color: transparent;
  // background-image:  url("/bg-k.svg");
}

#home-title{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  text-shadow: rgba($color: #ffffff, $alpha: 0.5) 0px 0px 20px;
}

#home-background {
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
  background: radial-gradient(#00196e,#000516);
  overflow: hidden;
}
